@import "../../global.scss";

.menu {
 
  width: 320px;
  height: 100vh;
  background-color: $hambar;
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.329);
  backdrop-filter: blur(6px);
  &.active {
    right: 0;
  }

  ul {
    width: 60%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 40px;
    font-weight: 200;
    color: $white;
    .icon {
      margin: 50px 0px 0px 8px;
      font-size: 30px;

      &:hover {
        cursor: pointer;
        color: $red;
        transition: all 0.2s;
      }
    }

    li {
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: inherit;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
